
<div class="sidebar flex flex-column height-100 hide">
    <div class="sidebar-wrapper">

        <div class="sidebar-header flex-cntr">
            <span class="logo-text-cap-letter">L</span>
        </div>

        <div class="sidebar-item-list">
            {% for route_index, row in data.menu_list.data %}
                <div class="sidebar-item get_page_action scroll_top animate__animated" data-page-route="{{route_index}}" data-tab="{{row.tab.active}}">
                    <div class="sidebar-item-icon">
                        <span class="button-icon-i button-icon-left sidebar-icon">
                            <i class="{{row.icon.modify_class}}"></i>
                        </span>                  
                    </div>

                    <div class="sidebar-item-tooltip">{{row.title}}</div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>



{# <div class="sidebar display-flex flex-column height-100">
    <div class="sidebar-header flex-cntr">
        <span class="logo-text-cap-letter">L</span>
    </div>

    <div class="sidebar-content ls-custom-scrollbar">
        <div class="sidebar-page-list ls-custom-scrollbar">
            {% for route_index, row in data.menu_list.data %}
                <a href="javascript:void(0)" class="sidebar-list get_page_action display-flex flex-ai-end scroll_top " 
                    data-page-route="{{route_index}}"
					data-tab="{{row.tab.active}}"
                    title="{{row.title}}"
                    >

                    <div class="sidebar-list-icon">
                        <span class="button-icon-i button-icon-left sidebar-icon">
                            <i class="{{row.icon.modify_class}}"></i>
                        </span>
                    </div>
                    <div class="sidebar-list-name hover-sb-title display-flex flex-column">
                        <span class="page-list-name">
                            {{row.title}}
                        </span>
                    </div>   
                </a>
            {% endfor %}
        </div>
    </div>
        <a href="core/action/logout?logout" class="sidebar-list display-flex flex-ai-cntr flex-jc-cntr exit-btn">
            <div class="sidebar-list-icon">
                <span class="button-icon-i button-icon-left sidebar-icon">
                    <i class="las la-sign-out-alt"></i>
                </span>
            </div>
            <div class="sidebar-list-name hover-sb-title display-flex flex-column">
                <span class="page-list-name">
                    Exit
                </span>
            </div>
        </a>    
</div> #}










{# <div class="sidebar_menu_wrp">
    <div class="sidebar_menu_block">
        <div class="sider_bar_menu_header">
            <span class="module_order_desrioption">Menu</span>
        </div>
            <div class="sider_bar_list_wrp ls-custom-scrollbar">
                <ul class="sider_bar_list">
                    <li class="menu_list menu_header_list">
                        <a href="javascript:void(0)" class="user_profile_select select_page_main scroll_top" data-link="/page/admin/admin.php">
                            <div class="user_profile_img" style="display: none;"><img src="/assets/img/icon/profile.png"></div>
                            <span><?= getUser('get_name'); ?></span>
                        </a>
                    </li>		

                    <li class="menu_list">
                        <a href="javascript:void(0)" class="sidebar_link select_page_main scroll_top" data-link="<?php echo $link ?>">
                            <div class="sidebar_menu_image">
                                <img src="<?php echo $img; ?>">
                            </div>					
                            <span class="sidebar_menu_link_nmae"><?php echo $title; ?></span>
                        </a>
                    </li>


                    <li class="menu_list_bottom">
                        <a href="/core/action/logout?logout" class="sidebar_link">
                            <div class="sidebar_menu_image">
                                <img src="/assets/img/icon/sidebar/logout_white.png">
                            </div>					
                            <span class="sidebar_menu_link_nmae">Çıxış</span>
                        </a>
                    </li>																
                </ul>
            </div>
    </div>
  </div>   #}