{% for key, row in items %}
<tr class="cart-item in-cart modify" data-cart-id="{{row.id}}">
    <td>
        <span class="stock-list-title">{{row.id}}</span>
    </td>

    <td>
        <span class="stock-list-title">{{row.name}}</span>
    </td>

    <td>
        <span class="stock-list-title">{{row.description}}</span>
    </td>


    <td>
        <div class="flex flex-ai-cntr cart-input-container">
            <button class="las la-minus btn btn-default add-basket-btn-icon cart-counter cart-minus-count" tabindex="-1"></button>
              <div class="counter-input">
                <input type="text" class="cart-order-count cart-order-input input cart-input cart-counter-input input-validate-length input-validate-count input-required input-validate-min-max-count"  value="{{row.count}}">
              </div>
            <button class="las la-plus btn btn-default add-basket-btn-icon cart-counter cart-plus-count" tabindex="-1"></button>
        </div>                                  
    </td>
    <td>
        <div class="cart-input-container flex flex-ai-cntr">
            <input type="text" class="cart-order-description input cart-input" value="">
        </div>
    </td>     

    <td>
        <button class="btn btn-danger add-basket-btn-icon las la-trash remove-at-cart" tabindex="-1"></button>                                
    </td> 
</tr>  
{% endfor %}