{# {% if data.table.td %}
	{% for array in data.table.td %}
		{% for id, arr in array  %}
			<tr class="stock-list" id="{{id}}">
				{% for row in arr %}	
					<td class="{{row.td_class}}">
						<a href="javascript:void(0)" class="{{row.link_class}}" data-sort="{{row.data_sort}}" data-sort-value="{{row.data}}" title="{{ row.mark.mark_title }}"> 
								<span class="stock-info-text">{{ row.data }} </span>
							{% if row.data is not empty %}
							
								{% if row.mark.mark_text %} 
									<span class="mark mark--text" title="{{ row.mark.mark_title }}">{{ row.mark.mark_text }}</span> 
								{% endif %}
								{% if row.mark.mark_icon.path %} 
									<span class="mark mark--icon" > 
										<img src="{{ row.mark.mark_icon.path}}" class="{{ row.mark.mark_icon.icon_class }}"> 
									</span>
								{% endif %}	
								
							{% endif %}
						</a>								
					</td>
				{% endfor %}
			</tr>
		{% endfor %}	
	{% endfor %}
{% endif %} #}



{% if data.table.td %}
	{% for array in data.table.td %}
		{% for id, arr in array  %}
			<tr class="stock-list {{arr.tr.class_list}}" id="{{id}}">
				{% for row in arr.data %}	
					<td class="{{row.td_class}}">
						<a href="javascript:void(0)" class="{{row.link_class}}" data-sort="{{row.data_sort}}" data-sort-value="{{row.data}}" title="{{ row.mark.mark_title }}"> 
								<span class="stock-list-title">
									{{row.data |nl2br}} 
								</span>

							{% if row.data is not empty %}
								{% if row.mark %} 
									<span class="button-icon-left mark stock-list-mark {{row.mark.mark_modify_class}}" title="{{ row.mark.mark_title }}">{{ row.mark.mark_text }}</span> 
								{% endif %}
							{% endif %}
						</a>								
					</td>
				{% endfor %}
			</tr>
		{% endfor %}	
	{% endfor %}
{% elseif data.table.td is empty %}
	{% include '/component/table/empty_row.twig' %}
{% endif %}




{# {% if data.table.td %}
	{% for array in data.table.td %}
		{% for id, arr in array  %}


        <div class="ui-table-row" id="{{id}}">

				{% for row in arr %}	
					<div class="ui-table-data {{row.td_class}} {{row.modify_class}}">
						<a href="javascript:void(0)" class="{{row.link_class}}" data-sort="{{row.data_sort}}" data-sort-value="{{row.data}}" title="{{ row.mark.mark_title }}"> 
								<span class="stock-list-title">
									{{row.data |nl2br}} 
								</span>

							{% if row.data is not empty %}
								{% if row.mark %} 
									<span class="button-icon-left mark stock-list-mark {{row.mark.mark_modify_class}}" title="{{ row.mark.mark_title }}">{{ row.mark.mark_text }}</span> 
								{% endif %}
							{% endif %}
						</a>								
					</div>
				{% endfor %}
        </div>

		{% endfor %}	
	{% endfor %}
{% endif %} #}


