
{% for key, val in data.res %}
    <div class="stats-item animate__animated animate__fadeIn animate__fast" style="animation-delay: 0.{{key}}s">

        <div class="stats-content">
            <span class="stats-title mark mark-tags mark-primary   ">{{val.title}}</span>
            <div class="stats-value">
                <span class="stats-text">{{val.value}}</span>
                <span class="mark mark-text {{val.mark.mark_modify_class}}"> {{ val.mark.mark_text }}</span>        
            </div>
        </div>

        <div class="stats-item-icon">
            {{ val.icon|raw }}
        </div>
        

    </div>
{% endfor  %}