<div class="menu menu--active vh-100 flex-jc-cntr" style="background-image: url(assets/img/pattern/{{data.main_image}})">
	<div class="menu-content content_container flex">
		<div class="menu-list inline-flex flex-wrap flex-jc-space-between">
		{% for route_index, row in data.menu %}
			<div class="menu-card">
				<a href="javascript:void(0)" class="animate__animated  animate__backInUp animate__faster menu-card-wrp flex width-100 height-100 flex-column flex-ai-cntr flex-jc-space-around get_page_action scroll_top"
					data-page-route="{{route_index}}"
					data-tab="{{row.tab.active}}">

					{# <div class="menu-image">
						<img src="{{row.icon.img_big}}" alt="">
					</div> #}

					<span class="button-icon-i menu-icon">
                        <i class="{{row.icon.modify_class}}"></i>
                    </span> 

					<span class="menu-card-title"> {{row.title}}</span>
				</a>
			</div>
		{% endfor %}
		</div>
	</div>
</div>