{% block terminal_order %}
	<div class="module_order_wrp ls-custom-scrollbar">
		<div class="modal_order_form" data-order-id="{{res.get.id}}">
			{% include '/component/modal/include_fields.twig' %}
		</div>
	</div>
{% endblock %}


{% block info_product  %}
<span class="modal-title">Məlumat</span>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form" data-order-id="{{res.get.id}}">
		{% include '/component/modal/include_fields.twig' %}
	</div>
</div>
{% endblock %}


{% block report_return %}
<span class="modal-title">Məlumat</span>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form" data-order-id="{{res.get.id}}">
		{% include '/component/modal/include_fields.twig' %}
	</div>
</div>
{% endblock %}

{% block edit_product %}
<span class="modal-title">Redaktə et</span>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form" data-order-id="{{res.get.id}}">
		{% include '/component/modal/include_fields.twig' %}
	</div>
</div>
{% endblock %}

{# admin #}
{% block edit_user %}
<span class="modal-title">Redaktə et</span>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form" data-order-id="{{res.get.id}}">
		{% include '/component/modal/include_fields.twig' %}
	</div>
</div>
{% endblock %}

{# category #}
{% block edit_modal %}
<span class="modal-title">Redaktə et</span>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form" data-order-id="{{res.get.id}}">
		{% include '/component/modal/include_fields.twig' %}
	</div>
</div>
{% endblock %}

