{% if data.mdropdown %}
	<div class="filter-container area-container">
		<a href="javascript:void(0)" class="widget__button widget__button-filter widget__button-action flex-cntr area-button" role="button">
			<span class="widget__button-icon button-icon-i button-icon-left">
				<i class="las la-sort-amount-down"></i>
			</span>
			<span class="widget__button-text">Filter</span>
			<span class="widget__mark filter-count widget__mark-rigt"></span>
		</a> 
		<div class="widget__content area-content widget__content-filter">

			<ul class="select-list checker-list width-100 ls-custom-scrollbar">
				{% for key, parent in data.mdropdown %}
				<li class="select-items area-container">

					<a href="javascript:void(0)" class=" area-button sub-area select-item">
						<span class="widget__mark selected-items-count">
						</span>				
						<span class="widget__button-text">
							{{key}}
						</span>
						<span class="widget__button-icon widget__icon-arrow button-icon-i button-icon-right">
							<i class="las la-angle-down"></i>
						</span>						
					</a> 

					<div class="sub--select-list area-content" style="display: none;">
						<ul class="select-sub-items select-list ls-custom-scrollbar width-100">

							{% for key, row in parent  %}
							<li class="select-items">
								<a href="javascript:void(0)" class="select-item select-sub-item filter-check" id="{{row}}" filter-type="{{row}}" filter-val="{{row}}">
									<span class="widget__check-icon">
										<i class="las la-check"></i>
									</span>
									<span class="widget__button-text">{{row}}</span>
									<span class="widget__mark"></span>
								</a>
							</li>	
							{% endfor %}

						</ul>
					</div>

				</li>
				{% endfor %}				
			</ul>
			
			<div class="checked-filter-list not-closeable sub-area ls-custom-scrollbar animate__animated animate__lsFadeIn25 animate__fast"></div>
			
		</div>

	</div>
{% endif %}